body {
  /* padding: 50px; */
  font-family: 'Raleway', sans-serif;
  font-size: 14px;
  background: rgb(224, 195, 252);
  background: linear-gradient(90deg, rgba(224, 195, 252, 1) 0%, rgba(142, 197, 252, 1) 100%);
}

a {
  color: #00B7FF;
}

ul {
  list-style: none;
}