@media (max-width: 767px) {
    .work-section {
        /* height: 100vh; */
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-content: center;
        align-items: center;
        justify-content: center;
        padding-top: 80px;
    }

    .work-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        flex-direction: row;
    }

    .work-title {
        display: flex;
        justify-content: center;
        font-weight: 500;
        color: darkslateblue;
        font-size: 1.5rem;
        font-family: 'Poppins', 'sans-serif';
        padding-bottom: 30px;
        padding-top: 40px;
    }

    .slider {
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 250px;
    }

    .slider img {
        width: 250px;
    }

    .slick-slide img {
        border-radius: 15px;
    }

    .slick-arrow {
        height: 20px;
        width: 20px;
        font-size: 1px;
        color: transparent;
        position: absolute;
        top: -56;
        right: 0;
    }

    .slick-prev {
        left: 5px;
        background: url("../images/arrow-left.svg");
        background-size: 100%;
        border: none;
        background-color: rgb(166, 153, 204);
        border-radius: 50%;
        z-index: 1;
    }

    .slick-next {
        right: 5px;
        background: url("../images/arrow-right.svg");
        background-size: 100%;
        border: none;
        background-color: rgb(166, 153, 204);
        border-radius: 50%;
    }

    .works-info {
        width: 300px;
        padding: 0px 18px 0px 18px;
        text-align: center;
        font-size: 15px;
    }

    .works-info h3 {
        font-size: 25px;
        padding-top: 20px;
        text-align: center;
    }

    .works-info h4 {
        font-size: 1rem;
        text-align: center;
    }

    .work-buttons a {
        margin-right: 10px;
        color: darkslateblue;
        font-size: 15px;
    }
}

@media (min-width: 768px) {
    .work-section {
        /* height: 110vh; */
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-content: center;
        align-items: center;
        justify-content: center;
        padding-top: 80px;
    }

    .work-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        flex-direction: row;
    }

    .work-title {
        display: flex;
        justify-content: center;
        font-weight: 500;
        color: darkslateblue;
        font-size: 2rem;
        font-family: 'Poppins', 'sans-serif';
        padding-bottom: 50px;
    }

    .slider {
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 450px;
    }

    .slider img {
        width: 450px;
    }

    .slick-slide img {
        border-radius: 15px;
    }

    .slick-arrow {
        height: 25px;
        width: 25px;
        font-size: 1px;
        color: transparent;
        position: absolute;
        top: -56;
        right: 0;
    }

    .slick-prev {
        left: -50px;
        background: url("../images/arrow-left.svg");
        background-size: 100%;
        border: none;
        background-color: rgb(166, 153, 204);
        border-radius: 50%;
    }

    .slick-next {
        right: -50px;
        background: url("../images/arrow-right.svg");
        background-size: 100%;
        border: none;
        background-color: rgb(166, 153, 204);
        border-radius: 50%;
    }

    .works-info {
        width: 600px;
        padding-left: 85px;
    }

    .works-info h3 {
        font-size: 2rem;
    }

    .works-info h4 {
        font-size: 1rem;
    }

    .work-buttons a {
        margin-right: 10px;
        color: darkslateblue;
        font-size: 15px;
    }
}