<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head') %>

  <body>
    <section class="welcome-section" id="inicio">
      <div class="welcome-text">
        Hola! Soy <span class="name">Gabriel Nicolás</span>.<br>
        Un desarrollador web full-stack.
      </div>
      <a href="#sobre-mi" class="cssbuttons-io">
        <span><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
            <path fill="none" d="M0 0h24v24H0z"></path>
            <path fill="currentColor"
              d="M24 12l-5.657 5.657-1.414-1.414L21.172 12l-4.243-4.243 1.414-1.414L24 12zM2.828 12l4.243 4.243-1.414 1.414L0 12l5.657-5.657L7.07 7.757 2.828 12zm6.96 9H7.66l6.552-18h2.128L9.788 21z">
            </path>
          </svg> Ver Más!</span>
      </a>
    </section>
    <%- include('./partials/navbar') %>
      <section class="about-section" id="sobre-mi">
        <div class="profile-container">
          <div>
            <img class="image-container" src="/images/profile.png" alt="profile">
          </div>
          <div class="self-description">
            <p class="about-name">Soy <span style="color: darkslateblue;">Gabriel Nicolás</span></p>
            <p>Entusiasta de la programación, con un enfoque en el <span
                style="color: darkslateblue; font-weight: 500;">desarrollo
                front-end</span>. <br> <br>
              Me encanta trabajar en los detalles y en la búsqueda de la simetría visual.</p>
            <div class="social-items">
              <ul>
                <li><a href="#" target="_blank"><i class="fa-solid fa-sheet-plastic"
                      style="color: darkslateblue;"></i></a></li>
                <li><a href="https://www.linkedin.com/in/gnicolaslan/" target="_blank"><i
                      class="fa-brands fa-linkedin fa-lg" style="color: darkslateblue;"></i></a></li>
                <li><a href="https://github.com/gnicolaslan" target="_blank"><i class="fa-brands fa-square-github fa-lg"
                      style="color: darkslateblue;"></i></a></li>
                <li><a href="https://www.behance.net/gabrielnicolasLNZT" target="_blank"><i
                      class="fa-brands fa-square-behance fa-lg" style="color: darkslateblue;"></i></a></li>
              </ul>
            </div>
          </div>
        </div>
      </section>
      <section class="formation-section">
        <div class="skills-container">
          <ul class="skills-grid">
            <li>
              <div class="skills-info"><img
                  src="https://raw.githubusercontent.com/devicons/devicon/1119b9f84c0290e0f0b38982099a2bd027a48bf1/icons/vscode/vscode-original.svg"
                  alt="vsc">
                <p>VS Code</p>
              </div>
            </li>
            <li>
              <div><img
                  src="https://raw.githubusercontent.com/devicons/devicon/1119b9f84c0290e0f0b38982099a2bd027a48bf1/icons/html5/html5-original.svg"
                  alt="html">
                <p>HTML</p>
              </div>
            </li>
            <li>
              <div><img
                  src="https://raw.githubusercontent.com/devicons/devicon/1119b9f84c0290e0f0b38982099a2bd027a48bf1/icons/css3/css3-original.svg"
                  alt="css">
                <p>CSS</p>
              </div>
            </li>
            <li>
              <div><img
                  src="https://raw.githubusercontent.com/devicons/devicon/1119b9f84c0290e0f0b38982099a2bd027a48bf1/icons/javascript/javascript-original.svg"
                  alt="js">
                <p>JavaScript</p>
              </div>
            </li>
            <li>
              <div><img
                  src="https://raw.githubusercontent.com/devicons/devicon/1119b9f84c0290e0f0b38982099a2bd027a48bf1/icons/nodejs/nodejs-original.svg"
                  alt="nodejs">
                <p>NodeJS</p>
              </div>
            </li>
            <li>
              <div><img
                  src="https://raw.githubusercontent.com/devicons/devicon/1119b9f84c0290e0f0b38982099a2bd027a48bf1/icons/express/express-original.svg"
                  alt="express">
                <p>Express</p>
              </div>
            </li>
            <li>
              <div><img
                  src="https://raw.githubusercontent.com/devicons/devicon/1119b9f84c0290e0f0b38982099a2bd027a48bf1/icons/mysql/mysql-original.svg"
                  alt="mysql">
                <p>MySQL</p>
              </div>
            </li>
            <li>
              <div><img
                  src="https://raw.githubusercontent.com/devicons/devicon/1119b9f84c0290e0f0b38982099a2bd027a48bf1/icons/sequelize/sequelize-original.svg"
                  alt="sequelize">
                <p>Sequelize</p>
              </div>
            </li>
            <li>
              <div><img
                  src="https://raw.githubusercontent.com/devicons/devicon/1119b9f84c0290e0f0b38982099a2bd027a48bf1/icons/react/react-original.svg"
                  alt="react">
                <p>React</p>
              </div>
            </li>
            <li>
              <div><img
                  src="https://raw.githubusercontent.com/devicons/devicon/1119b9f84c0290e0f0b38982099a2bd027a48bf1/icons/bootstrap/bootstrap-original.svg"
                  alt="bootstrap">
                <p>Bootstrap</p>
              </div>
            </li>
            <li>
              <div><img
                  src="https://raw.githubusercontent.com/devicons/devicon/1119b9f84c0290e0f0b38982099a2bd027a48bf1/icons/git/git-original.svg"
                  alt="git">
                <p>Git</p>
              </div>
            </li>
            <li>
              <div><img
                  src="https://raw.githubusercontent.com/devicons/devicon/1119b9f84c0290e0f0b38982099a2bd027a48bf1/icons/github/github-original.svg"
                  alt="github">
                <p>GitHub</p>
              </div>
            </li>
          </ul>
        </div>
      </section>
      <section class="work-section" id="mis-proyectos">
        <img src="/images/walp-02.png" alt="" width="250px">
        <h3 class="work-title">Proyectos</h3>
        <article class="work-container">
          <div class="slider">
            <div><img src="https://acf.geeknetic.es/imgri/imagenes/auto/21/06/14/e57-teclados-ansi-iso-.jpg?f=webp"
                alt="">
            </div>
            <div><img src="https://acf.geeknetic.es/imgri/imagenes/auto/21/06/14/e57-teclados-ansi-iso-.jpg?f=webp"
                alt="">
            </div>
            <div><img src="https://acf.geeknetic.es/imgri/imagenes/auto/21/06/14/e57-teclados-ansi-iso-.jpg?f=webp"
                alt="">
            </div>
            <div><img src="https://acf.geeknetic.es/imgri/imagenes/auto/21/06/14/e57-teclados-ansi-iso-.jpg?f=webp"
                alt="">
            </div>
          </div>
          <div class="works-info">
            <h3>HyperStore</h3>
            <h4><span style="color: darkslateblue;">NodeJs</span> · <span
                style="color: darkslateblue;">JavaScript</span>
              · <span style="color: darkslateblue;">Express</span> · <span
                style="color: darkslateblue;">Express-Paginate</span> ·
              <span style="color: darkslateblue;">REST API</span> ·
              <span style="color: darkslateblue;">MySQL</span> ·
              <span style="color: darkslateblue;">Sequelize</span> · <span style="color: darkslateblue;">Google
                Authentication</span> ·
              <span style="color: darkslateblue;">Bootstrap</span>
            </h4>
            <ul>
              <li>HyperStore es un sitio web de venta de hardware, desarrollado con Node.js, Express y JavaScript para
                ofrecer una experiencia completa.</li><br>
              <li>Con un completo CRUD, permite crear, ver, actualizar y eliminar productos y usuarios, brindando
                funcionalidad robusta.</li><br>
              <li>El registro y login cuentan con validaciones en cliente y servidor, junto con autenticación de Google
                para mayor seguridad.</li><br>
              <li>Destaca por su sección de favoritos, carrito de compras, paginador, sliders y búsqueda avanzada para
                una navegación intuitiva.</li><br>
              <li>Además, el dashboard basado en el patrón MVC permite un control eficiente de productos y usuarios,
                optimizando la administración.</li><br>
            </ul>
            <div class="work-buttons">
              <a href=""><span><i class="fa-brands fa-github"></i> repo</span></a>
              <a href=""><span><i class="fa-solid fa-rocket"></i> deploy</span></a>
            </div>
          </div>
          <div>
        </article>
      </section>
      <section class="contact-section">
        <img src="/images/walp-01.png" alt="" width="250px" id="contact">
        <h3 class="contact-title">Contacto</h3>
        <div class="form-container">
          <form class="row g-3 mt-3" action="">
            <div class="col-6">
              <label for="name" class="form-label">Nombre</label>
              <input type="text" class="form-control" id="nameInput" placeholder="Ingrese su nombre*">
            </div>
            <div class="col-6">
              <label for="surname" class="form-label">Apellido</label>
              <input type="text" class="form-control" id="surnameInput" placeholder="Ingrese su apellido*">
            </div>
            <div class="col-12">
              <label for="email" class="form-label">Email</label>
              <input type="email" class="form-control" id="emailInput" placeholder="Ingrese su email*">
            </div>
            <div class="col-12">
              <label for="message" class="form-label">Mensaje</label>
              <textarea class="form-control" id="messageInput" placeholder="¡Dejame un mensaje!"></textarea>
            </div>
            <div class="form-buttons col-12 text-center">
              <button type="submit" class="btn btn-primary mt-3">
                Enviar
              </button>
              <button type="reset" class="btn btn-light mt-3">
                Borrar
              </button>
            </div>
          </form>
        </div>
      </section>
      <%- include('./partials/upButton') %>
      <%- include('./partials/footer') %>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
          integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
          crossorigin="anonymous"></script>
        <script src="https://kit.fontawesome.com/30aba88446.js" crossorigin="anonymous"></script>
        <script src="/javascripts/index.js"></script>
        <script src="/javascripts/upButton.js"></script>
        <script type="text/javascript" src="https://code.jquery.com/jquery-1.11.0.min.js"></script>
        <script type="text/javascript"
          src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
        <script>
          $(document).ready(function () {
            $('.slider').slick({
              dots: false,
              infinite: true,
              speed: 300,
              slidesToShow: 1,
              slidesToScroll: 1,
              responsive: [
                {
                  breakpoint: 1024,
                  settings: {
                    slidesToShow: 1,
                    slidesToScroll: 2,
                    infinite: true,
                  }
                },
                {
                  breakpoint: 600,
                  settings: {
                    slidesToShow: 1,
                    slidesToScroll: 2,
                    infinite: true,
                  }
                },
                {
                  breakpoint: 480,
                  settings: {
                    slidesToShow: 1,
                    slidesToScroll: 1,
                    infinite: true,
                  }
                }
                // You can unslick at a given breakpoint now by adding:
                // settings: "unslick"
                // instead of a settings object
              ]
            });
          });
        </script>
  </body>

</html>