<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head') %>

  <body>
    <section class="welcome-section" id="inicio">
      <div class="welcome-text">
        Hola! Soy <span class="name">Gabriel Nicolás</span>.<br>
        Un desarrollador web full-stack.
      </div>
      <a href="#sobre-mi" class="cssbuttons-io">
        <span><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
            <path fill="none" d="M0 0h24v24H0z"></path>
            <path fill="currentColor"
              d="M24 12l-5.657 5.657-1.414-1.414L21.172 12l-4.243-4.243 1.414-1.414L24 12zM2.828 12l4.243 4.243-1.414 1.414L0 12l5.657-5.657L7.07 7.757 2.828 12zm6.96 9H7.66l6.552-18h2.128L9.788 21z">
            </path>
          </svg> Ver Más!</span>
      </a>
    </section>
    <%- include('./partials/navbar') %>
      <section class="about-section" id="sobre-mi">
        <div class="profile-container">
          <div>
            <img class="image-container" src="/images/profile.png" alt="profile">
          </div>
          <div class="self-description">
            <p class="about-name">Soy <span style="color: darkslateblue;">Gabriel Nicolás</span></p>
            <p>Entusiasta de la programación, con un enfoque en el <span style="color: darkslateblue; font-weight: 500;">desarrollo
                front-end</span>. <br> <br>
              Me encanta trabajar en los detalles y en la búsqueda de la simetría visual.</p>
            <div class="social-items">
              <ul>
                <li><a href="#" target="_blank"><i class="fa-solid fa-sheet-plastic"
                      style="color: darkslateblue;"></i></a></li>
                <li><a href="https://www.linkedin.com/in/gnicolaslan/" target="_blank"><i
                      class="fa-brands fa-linkedin fa-lg" style="color: darkslateblue;"></i></a></li>
                <li><a href="https://github.com/gnicolaslan" target="_blank"><i class="fa-brands fa-square-github fa-lg"
                      style="color: darkslateblue;"></i></a></li>
                <li><a href="https://www.behance.net/gabrielnicolasLNZT" target="_blank"><i
                      class="fa-brands fa-square-behance fa-lg" style="color: darkslateblue;"></i></a></li>
              </ul>
            </div>
          </div>
        </div>
      </section>
      <section class="formation-section">
        <div> BLABLABALBLABA
          <DIV>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Obcaecati doloremque qui aliquam vel fuga. Fuga
            perspiciatis veritatis ullam hic quae eius aliquam sunt repellat doloribus atque! Quibusdam iusto impedit
            obcaecati.</DIV>
        </div>
      </section>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
        crossorigin="anonymous"></script>
      <script src="https://kit.fontawesome.com/30aba88446.js" crossorigin="anonymous"></script>
      <script src="/javascripts/index.js"></script>

  </body>

</html>