<nav>
    <div class="rgbar2"></div>
    <div class="footer-container">
        <ul class="mb-3 text-center">
            <li>made with <i class="fa-sharp fa-solid fa-heart pr-3" style="padding: 0px 5px;"></i> by gabriel nicolás</li>
            <li class="footer-list"><i class="fa-sharp fa-solid fa-envelope"></i>gabrielnicolas.dg@gmail.com</li>
            <li class="footer-list"><i class="fa-sharp fa-solid fa-house"></i>Buenos Aires, Argentina</li>
            <li class="footer-list"><i class="fa-sharp fa-solid fa-phone"></i>+54 911 3903 4290</li>
        </ul>
    </div>
</nav>