<nav class="navbar navbar-expand-lg sticky-top bg-body-tertiary" data-bs-theme="dark">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02"
      aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
      <i class="fa-solid fa-bars"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="#inicio">INICIO</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#sobre-mi">SOBRE</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#mis-proyectos">PROYECTOS</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#contact">CONTACTO</a>
        </li>
      </ul>
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a target="_blank" class="nav-link" href="https://www.linkedin.com/in/gnicolaslan/"><i class="fa-brands fa-linkedin fa-lg"
              ></i></a>
        </li>
        <li class="nav-item">
          <a target="_blank" class="nav-link" href="https://github.com/gnicolaslan"><i class="fa-brands fa-square-github fa-lg"
              ></i></a>
        </li>
        <li class="nav-item">
          <a target="_blank" class="nav-link" href="https://www.behance.net/gabrielnicolasLNZT"><i
              class="fa-brands fa-square-behance fa-lg" ></i></a>
        </li>
      </ul>
    </div>
  </div>
  <div class="rgbar"></div>
</nav>